<table class="table table-striped">
	<thead>
		<th>Title</th>
		<th>URL</th>
	</thead>
	<tbody>
		<tr ng-repeat="movie in movies">
			<td>{{ movie.title }}</td>
			<td>{{ movie.url }}</td>
		</tr>
	</tbody>	
</table>
